<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="ko">
<head>
  <div th:replace="layouts/commonScripts :: appScripts"></div>
</head>
<body class="layout">

  <!-- 헤더 -->


  <!-- 사이드바 + 콘텐츠 -->
  <main class="main" id="top">
    <div class="container">
      <div class="row flex-center min-vh-100 py-5">
        <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3"
             layout:fragment="content">
          <!-- 여기에 각 페이지의 content가 삽입됩니다 -->
        </div>
      </div>
    </div>

  </main>>

  <!-- 푸터 -->

  <!-- 페이지별 스크립트 삽입 -->
  <div layout:fragment="pageScripts">
    <!-- 각 페이지가 여기에 스크립트를 주입합니다 -->
  </div>
</body>
</html>
