<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <nav th:fragment="sidebar" class="navbar navbar-vertical navbar-expand-lg">
      <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
        <!-- scrollbar removed-->
        <div class="navbar-vertical-content">
          <ul class="navbar-nav flex-column" id="navbarVerticalNav">
            <li class="nav-item">
              <!-- parent pages-->
              <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-home" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-home">
                  <div class="d-flex align-items-center">
                    <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div><span class="nav-link-icon"><span data-feather="pie-chart"></span></span><span class="nav-link-text">Home</span>
                  </div>
                </a>
                <div class="parent-wrapper label-1">
                  <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-home">
                    <li class="collapsed-nav-item-title d-none">Home
                    </li>
                    <li class="nav-item"><a class="nav-link" href="../index.html">
                        <div class="d-flex align-items-center"><span class="nav-link-text">대시보드</span><span class="badge ms-2 badge badge-phoenix badge-phoenix-warning ">new</span>
                        </div>
                      </a>
                      <!-- more inner pages-->
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <!-- label-->
              <p class="navbar-vertical-label">메뉴
              </p>
              <hr class="navbar-vertical-line" />
              <!-- parent pages-->
              <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-project-management" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-project-management">
                  <div class="d-flex align-items-center">
                    <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div><span class="nav-link-icon"><span data-feather="archive"></span></span><span class="nav-link-text">회원 관리</span>
                  </div>
                </a>
                <div class="parent-wrapper label-1">
                  <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-project-management">
                    <li class="collapsed-nav-item-title d-none">회원 관리
                    </li>
                    <li class="nav-item"><a class="nav-link" href="../apps/project-management/create-new.html">
                        <div class="d-flex align-items-center"><span class="nav-link-text">회원 등록</span>
                        </div>
                      </a>
                      <!-- more inner pages-->
                    </li>
                    <li class="nav-item"><a class="nav-link" href="../apps/project-management/project-list-view.html">
                        <div class="d-flex align-items-center"><span class="nav-link-text">회원 조회</span>
                        </div>
                      </a>
                      <!-- more inner pages-->
                    </li>
                  </ul>
                </div>
              </div>
              <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-user-management" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-user-management">
                    <div class="d-flex align-items-center">
                      <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div><span class="nav-link-icon"><span data-feather="clipboard"></span></span><span class="nav-link-text">근태 관리</span>
                    </div>
                  </a>
                  <div class="parent-wrapper label-1">
                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-user-management">
                      <li class="collapsed-nav-item-title d-none">근태 관리
                      </li>
                      <li class="nav-item"><a class="nav-link" href="../apps/project-management/create-new.html">
                          <div class="d-flex align-items-center"><span class="nav-link-text">근태 계획 등록</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" href="../apps/project-management/project-list-view.html">
                          <div class="d-flex align-items-center"><span class="nav-link-text">근태 현황</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                    </ul>
                  </div>
                </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="navbar-vertical-footer">
        <button class="btn navbar-vertical-toggle border-0 fw-semibold w-100 white-space-nowrap d-flex align-items-center"><span class="uil uil-left-arrow-to-left fs-8"></span><span class="uil uil-arrow-from-right fs-8"></span><span class="navbar-vertical-footer-text ms-2">Collapsed View</span></button>
      </div>
    </nav>
</html>
