<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="selectInput(size, selectMsg, labelName, validMsg, invalidMsg)"
     th:class="'col-md-' + ${size}">
  <label class="form-label" th:text="${labelName}"></label>
  <select class="form-select" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
    <option value="" th:text="${selectMsg}">Select organizer...</option>
  </select>
  <div class="valid-feedback" th:text="${validMsg}"></div>
  <div class="invalid-feedback" th:text="${invalidMsg}"></div>
</div>
</html>