<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<form class="row g-3 needs-validation" novalidate="" th:fragment="form">
    <div th:replace="fragments/inputForm/textInputFragment :: textInput(4,'nameValid','이름','정상입니다','이름을 입력해주세요')"></div>
    <div th:replace="fragments/inputForm/textInputFragment :: textInput(4,'nameValid','이름','정상입니다','이름을 입력해주세요')"></div>
    <div th:replace="fragments/inputForm/textInputFragment :: textInput(4,'nameValid','이름','정상입니다','이름을 입력해주세요')"></div>
    <div th:replace="fragments/inputForm/textInputFragment :: textInput(6,'nameValid','이름','정상입니다','이름을 입력해주세요')"></div>
    <div th:replace="fragments/inputForm/textInputFragment :: textInput(6,'nameValid','이름','정상입니다','이름을 입력해주세요')"></div>
    <div th:replace="fragments/inputForm/textInputFragment :: textInput(12,'nameValid','이름','정상입니다','이름을 입력해주세요')"></div>
</form>
</html>
