<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="ordersContent">
    <div class="mb-3">
      <label class="form-label" for="exampleFormControlInput">Email address </label>
      <input class="form-control" id="exampleFormControlInput" type="email" placeholder="name@example.com" />
    </div>
    <div class="mb-0">
      <label class="form-label" for="exampleTextarea">Example Textarea </label>
      <textarea class="form-control" id="exampleTextarea" rows="3"> </textarea>
    </div>
  </div>
</html>
