<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}"
      lang="ko">
<head>
  <!-- layout:decorate 로 인해 <head> 내용은 base.html 이 사용하므로 비워두거나
       여기서는 타이틀만 정의해도 됩니다 -->
  <title>주문 관리</title>
</head>
<body>
  <!-- 1) 콘텐츠 영역 주입 -->
  <div layout:fragment="content">
    <div th:replace="fragments/commonFragments/breadcrumbFragment :: breadCrumb('홈','주문관리','주문등록')"></div>
    <div th:replace="fragments/commonFragments/titleFragment :: title(1,'주문 등록')"></div>
    <div th:replace="fragments/commonFragments/titleFragment :: title(2,'주문 등록')"></div>
    <div th:replace="fragments/commonFragments/titleFragment :: title(3,'주문 등록')"></div>
    <div th:replace="fragments/commonFragments/titleFragment :: title(4,'주문 등록')"></div>
    <div th:replace="fragments/commonFragments/titleFragment :: title(5,'주문 등록')"></div>
    <div th:replace="fragments/commonFragments/titleFragment :: title(6,'주문 등록')"></div>
    <div th:replace="fragments/commonFragments/verticalLineFragment :: verticalLine"></div>
    <div th:replace="fragments/formFragments/formFragment :: form('order')"></div>
  </div>

  <!-- 2) 페이지별 JS 주입 -->
  <div layout:fragment="pageScripts">
    <script src="../assets/js/pages/calendar.js"></script>
    <script src="vendors/fullcalendar/index.global.min.js"></script>
    <script src="vendors/flatpickr/flatpickr.min.js"></script>
    <link href="vendors/flatpickr/flatpickr.min.css" rel="stylesheet" />
    <!-- orders.js도 같은 프래그먼트 안에! -->
    <script th:src="@{/js/orders.js}"></script>
  </div>
</body>
</html>
